/*
Copyright 2023 Ivan "IvanSEY" Panasyuk

This file is part of the Calc Catalog Web.

Calc Catalog Web is free software: you may redistribute it and/or modify it under 
the terms of the GNU General Public License as published by the 
Free Software Foundation;  either version 3 of the license, 
or (at your option) any later version.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;  
without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for details.

You should have received a copy of the GNU General Public License with this program.  
If not, see <https://www.gnu.org/licenses/>.
*/

.btn {
	border: 0;
	border-radius: 10px;
	transition: background-color .3s;

	&.btn-mini {
		width: 40px;
		height: 40px;
		font-size: 1.2em;
		font-weight: 900;
	}

	&.btn-transparent {
		background: transparent;
	}
}

.card-item.button {
	text-align: left;
	font-size: 1em;
	text-decoration: underline;
	width: 100%;
	padding-right: 20px;
}
