/*
Copyright 2023 Ivan "IvanSEY" Panasyuk

This file is part of the Calc Catalog Web.

Calc Catalog Web is free software: you may redistribute it and/or modify it under 
the terms of the GNU General Public License as published by the 
Free Software Foundation;  either version 3 of the license, 
or (at your option) any later version.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;  
without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for details.

You should have received a copy of the GNU General Public License with this program.  
If not, see <https://www.gnu.org/licenses/>.
*/
.card {
	margin-bottom: 10px;
	background-color: #eee;
	border-radius: 10px;
	overflow: hidden;

	& .card-item {
		width: calc(100% - 10px);
		margin: 5px;
		padding: 5px;
		border: 0;
		border-radius: 10px;
		//border-bottom: 1px solid #999;
		transition: background-color .3s;

		&.no-border-child {
			border-bottom: 0;

			&:first-child {
				border-bottom: 0;
			}
		}
	}
}
